.app-contenido{
  position: absolute;
  /* background-image: url('../../public/blob.svg'); */
  background-color: rgb(37, 37, 37);
  /* background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: darken; */
  /* justify-content: center; */
  text-align: center;

  height: 100vh;

}

.app-tittle-1{
  padding-top: 15%;
  padding-bottom: 20%;
  color: white;
  font-size: 50px;
  height: auto;
}

/* svg{
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: darken;
} */
