/* a {
  background-color: white;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@media screen and (max-width: 500px) {
  body{
    font-size: 14px;
  }
}

@media screen and (min-width: 900px) {
  body{
    font-size: 17px;
  }
}
body{
  font-family: Roboto;
}





/* Ocultar scroll en general */
/* ::-webkit-scrollbar {
  display: none;
} */

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  /* asi podremos cultar la barra de desplazamiento vertical */
  width:0;
}

::-webkit-scrollbar-button:increment,::-webkit-scrollbar-button {
  display: none;
} 

::-webkit-scrollbar:horizontal {
  height: 5px;
  
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;  
}