:root{
  --c-extra: ;
  --color:white;
  --fnd : #2196F3;
  --fndRsp: white;
  --colorRsp: black;
}


/* Mobile menu */ 
@media screen and (max-width: 500px) {

  .Nav-Content{
    display:flex;
    align-items: center;
    justify-content: center;
    /* Color */
    background: var(--fnd);

    color: var(--color);
    /* Posicionamiento y fijado */
    position: fixed;
    z-index: 3;
    /* Centrado y flote */
    top: 0;

    height: 60px;
    width: 100%;
  }
  
  .Nav-Content .Nav {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }
  
  .Nav-Content .Nav li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .Nav-Content .Nav li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  

}


/* Table menu */
@media Screen and (max-width: 600px) {

}

@media screen and (min-width: 900px){
  .Nav-Content{
    display:flex;
    align-items: center;
    justify-content: center;
    /* Color */
    /* background: var(--fnd); */

    color: var(--color);
    /* Posicionamiento y fijado */
    position: fixed;
    z-index: 3;
    /* Centrado y flote */
    top: 0;
    left: 0;

    height: 100%;
    margin-left: 100px;

  }

  /* .Nav-Content .Nav{
    margin:0 0px 0 0;
  } */

  /* .Nav-Content .Nav-Tittle{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex: 1;
    background:var(--fnd);
    color:var(--color);
    height:auto;
  }

  .Nav-Content .Nav-Tittle .logo{
    margin: 10px 10px;
  } */

  /* .Nav-Content .Nav{
    display:flex;
    list-style:none;
    align-items: center;
    padding-left: 100px;
    overflow: hidden;
  } */

  .Nav-Content .Nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80%;o lo necesario */
    margin: auto;
  }

  /* .Nav-Content .Nav li{
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 20px 40px;
    height:100%;
    width: 100%;
  } */

  .Nav-Content .Nav li{
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius:50%;
    height: 80px;
    width: 80px;
    margin-top: 10px;
    border: 2px solid var(--color);
    transition: 0.5s;

    font-size: 14px;
  }

  .Nav-Content .Nav li:hover{
    background: var(--color);
    color:var(--fnd);
    cursor: pointer;
    border: 5px solid var(--fnd);
    font-size: 20px;
    height: 120px;
    width: 120px;
    transition: 0.5s;
  }

  /* Cambiando el diseño de los linsk e items */
  .Nav-Content .Nav li a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }
}
