.section {
  padding-top: 10%;
  padding-bottom: 15%;
  min-height: 100vh;

  z-index: 2;
}

.section-dark {
  background: #29B6F6;
  color: white;
}

.section-content {
  max-width: 60%;
  margin: 0 auto;
  padding: 40px;
}