.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 0;
  height: 100vh;
  width: 100%;
  min-height: 100vh;

  z-index: 2;

}

.section h1{
  margin-bottom: 10px;
}

.section-dark {
  background: #29B6F6;
  color: white;
}


@media screen and (max-width: 500px){
  .section-content {
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .section-content .profile{
    width: 130px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; 
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; 
  } 
}

@media screen and (min-width: 900px){
  .section-content {
    max-width: 60%;
    margin: 0 auto;
    padding: 0;
  }
}

